@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html{
  font-size: 16pt; 
}

body { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 16pt;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 16pt;
}


h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #875687;
  margin: 0.25em 0 0.5em 0;
}
h1, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #875687;
}
a, a > code {
  font-family: 'Open Sans', sans-serif;
  color: #006975;
  text-decoration: underline;
  font-size: 16pt;
}

h3 a {
  font-size: 115%;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 12pt;
  
  
}

.remark-code{
  font-size: 12pt;
}

.remark-code, .remark-inline-code { 
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; 
  color: #505759;
}

.remark-inline-code{
  font-weight: bold;
}

.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #875687;
  color: #ffffff;
  /* text-shadow: 0 0 20px #333; */
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.center {
  text-align:center;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
ul {
  list-style-type: square;
  font-size: 16pt;
}
li{
  margin: 10px 0;
  font-size: 16pt;
  
}
.small ul body p {
  font-size: 10%; 
}

.large {
  font-size: 130%;
  
}
.midi {
  font-size: 90%;
  
}
.tiny {
  font-size: 5pt;
}


.really-small{
  font-size: 5pt;
}



img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { 
  padding: 5px; 
  font-size: 16pt;
}
thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.remark-slide-content:after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 810px;
    height: 70px;
    width: 81px;
    background-repeat: no-repeat;
    background-size: contain;
}

.remark-slide-number {
  font-size: 12pt;
}

.element.style {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 685px;
    width: 700px;
}

.vocab {
  color: #1689AE;
  font-weight: bold;
  font-size: 16pt;
}

.vocab2 {
  color: #875687;
  font-weight: bold;
  font-size: 16pt;
}

.vocab3 {
  color: #022CFA;
  font-weight: bold;
  font-size: 16pt;
}

.question {
  border-left: solid 5px #D8FCFF;
  background-color: #D8FCFF;
  padding: 5px 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 90%;
  /*color: #1E5C65;*/
}

.question-slim{
  border-left: solid 5px #D8FCFF;
  background-color: #D8FCFF;
  padding: 1px 4px;
  font-size: 75%;
}

.alert {
  border-right: solid 5px #A7D5E8;
  background-color: #A7D5E830;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.instructions {
  border-left: solid 5px #B9DCD2;
  background-color: #B9DCD2;
  font-size: 90%;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}


.instructions a{
  font-family: 'Open Sans', sans-serif;
  color: #87027B;
  text-decoration: underline;
  font-size: 16pt;
}

.instructions li::before {
  content: ">"; 
  color: #f6e1fa;
  display: inline-block; 
  margin-left: -1.5em
}

/* Footer */
div.my-footer {
    background-color: #ffffff;
    border-top: 1px solid #875687;
    position: absolute;
    bottom: 0px;
    left: 80px;
    height: 35px;
    width: 100%;
}
div.my-footer span {
    font-size: 12pt;
    position: absolute;
    color: #C1C6C8;
    left: 20px;
    bottom: 10px;
}
div.my-footer a {
    font-size: 12pt;
    color: #C1C6C8;
}

